@import "tailwindcss";

:root {
    --img-width: clamp(150px, 75vw, 500px);
}

.logo-small-size {
    @media(max-width: 1034px) {
        width: 130px;
    }
}

.nav-font-small {
    @media(max-width: 1034px) {
        font-size: 14px;
        gap: 20px;
    }
}

.flex-direction {
    flex-direction: row;

    @media(max-width: 1043px) {
        flex-direction: column;
    }
}

.flex-direction-reverse {
    flex-direction: row;

    @media(max-width: 1043px) {
        flex-direction: column-reverse;
    }
}

.flex-direction {
    flex-direction: row;

    @media(max-width: 1043px) {
        flex-direction: column;
    }
}

.display-none {
    display: block;

    @media(max-width: 1043px) {
        display: none;
    }
}

.width-change-1043 {
    padding-top: 80px;
    width: 60%;

    @media(max-width:1043px) {
        width: 100%;
    }
}


.width-change {
    width: 40%;

    @media(max-width:1043px) {
        width: 100%;
    }
}

.change-width {
    width: 50%;

    @media(max-width: 1043px) {
        width: 100%;
    }
}
.change-height {
    height: 450px;

    @media(max-width: 1043px) {
        height: auto;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* align items stretch */

.align-items-stretch {
    align-self: center;

    @media(max-width: 1043px) {
        align-self: stretch;
    }
}

/* LAYOUT FOR CONTACT PAGE */

.contact-flex-direction {
    flex-direction: row;
    gap: 40px;

    @media(max-width: 920px) {
        flex-direction: column;
        gap: 20px;
    }
}

.width-40-on-920px {
    width: 40%;
    @media(Max-width: 920px) {
        width: 100%;
    }
}
.width-60-on-920px {
    width: 60%;
    @media(Max-width: 920px) {
        width: 100%;
    }
}



/* background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 76.99%); */